.button-icon {
    width: 2rem;
    height: 2rem;
    background: none !important;
    border: none;
}

.button-icon:hover {
    width: 2rem;
    height: 2rem;
    background-color: #e9ecef !important;
    border-radius: 50%;
}

::ng-deep .p-multiselect {
    width: 100% !important;
}

::ng-deep .ui-inputtext {
    width: 100% !important;
}