<div class="input-group">
    <div class="form-control control-container"
         [ngClass]="{'font-disabled': disabled === true}">
        <button-add-attach-file *ngIf="!fileInfo && !isError && edit"
                                [module]="module"
                                (uploaded)="onUploaded($event)"
                                (noSave)="bindingDataToSave($event)"
                                [multiple]="multiple"
                                [hasDirectSave]="hasDirectSave">
            <button title="Attach file"
                    class="btn-action mr-1"
                    [disabled]="disabled">
                <i class="fal fa-paperclip"></i>
            </button>
        </button-add-attach-file>
        <button *ngIf="fileInfo && !isError && edit"
                title="Delete"
                [disabled]="disabled"
                (click)="onBtnDeleteFile()"
                class="btn-action mr-1">
            <i class="fal fa-times"></i>
        </button>
        <button *ngIf="isError"
                title="Reload"
                (click)="initData()"
                class="btn-action mr-1">
            <i class="fal fa-sync"></i>
        </button>
        <span *ngIf="fileInfo && !isError"
              title="{{ fileInfo.name }} - {{ getVolume(fileInfo.size) }} - {{ fileInfo.note }}"
              (click)="onLinkDownloadClick(fileInfo)"
              class="link">{{ fileInfo.name }}</span>
        <span *ngIf="!fileInfo && !isError"
              class="placeholder">Please input file</span>
        <span *ngIf="isError"
              title="An occured error. Please reload"
              class="placeholder">An occured error. Please reload</span>
    </div>
    <div class="input-group-append">
        <button *ngIf="fileInfo && checkPdf"
                style="background: none;"
                class="input-group-text input-group-right attach-button"
                [title]="'COMMON.VIEW' | translate"
                (click)="dialogViewPdfFile.onBtnViewFile()">
            <i class="fas fa-eye"
               style="color: black;"></i>
        </button>
    </div>
</div>

<span style="display: none;">
    <app-dialog-view-pdf-file #dialogViewPdfFile
                              *ngIf="fileInfo"
                              [file]="fileInfo"
                              (checkPdf)="checkPdf = $event">
    </app-dialog-view-pdf-file>
</span>