<kt-portlet>
    <kt-portlet-header icon="far fa-address-card"
                       [title]="'Đề nghị thanh toán' | translate"
                       [class]="'kt-portlet__head--lg'"
                       [viewLoading$]="expenseService.isLoading$">
        <ng-container ktPortletTools>
            <app-toolbar [model]="toolbarModel"
                         [widthFromSearch]="850">

                <h5 style="margin-bottom: 15px;">{{ 'COMMON.FILTER' | translate }} </h5>



            </app-toolbar>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>

        <div class="row kt-margin-b-15">
            <div class="col-md-6">
                <mat-form-field class="input-general-filter">
                    <input matInput
                           #searchInput
                           (keydown.enter)="initData()"
                           [(ngModel)]="request.generalFilter"
                           placeholder="Search ..."
                           class="mat-form-field mat-form-field-fluid">
                    <mat-hint align="start"></mat-hint>
                </mat-form-field>
                <br>
                <small>Ex: Mã,…...</small>
            </div>
            <div class="col-md-6">
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20"
                                 *ngIf="expenseService.isLoading$ | async"></mat-spinner>
                    <mat-paginator #paginator
                                   [pageSize]="5"
                                   [pageSizeOptions]="[5, 10, 30, 50]"
                                   [length]="dataSource.paginatorTotal"
                                   [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </div>
        </div>

        <div class="mat-table__wrapper">
            <p-table [value]="dataSource.items"
                     [(contextMenuSelection)]="selectedRowData"
                     [contextMenu]="btnContextMenu"
                     class="table-no-wrap">
                <ng-template pTemplate="header">
                    <tr class="background-table-header">
                        <th *ngFor="let header of headers"
                            [width]="header.width"
                            [ngClass]="header.class"
                            class="align-center">
                            <div class="header-height"
                                 *ngIf="header.field !== 'action'">
                                {{ header.title | translate }}
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"
                             let-rowData
                             let-rowIndex="rowIndex">
                    <tr [pContextMenuRow]="rowData">
                        <td class="align-center"
                            [title]="request.pageSize * request.pageIndex + rowIndex + 1">
                            {{ request.pageSize * request.pageIndex + rowIndex + 1 }}
                        </td>
                        <td [title]="rowData.epayCode"
                            class="align-center header-link">
                            <a (click)="openNewTab(rowData)">
                                {{ rowData.epayCode }}</a>
                        </td>
                        <td [title]="rowData.organizationName">{{ rowData.organizationName }}</td>
                        <td [title]="rowData.createdByName">{{ rowData.createdByName }}</td>
                        <td [title]="rowData.submitDate | date:mainConfig.formatDateList">
                            {{ rowData.submitDate | date:mainConfig.formatDateList }}</td>
                        <td [title]="rowData.type| label: paymentType">{{ rowData.type | label: paymentType }}</td>
                        <td [title]="rowData.title">{{ rowData.title }}</td>
                        <td class="align-right"
                            [title]="convertCurrencyMask(rowData.convertedTotal)">
                            {{ convertCurrencyMask(rowData.convertedTotal) }}</td>
                        <td [title]="rowData.status | label:epaySataus">
                            {{ rowData.status | label:epaySataus }}</td>
                        <td [title]="">
                            <div class="action align-center">
                                <button mat-icon-button
                                        [matMenuTriggerFor]="menu"
                                        matTooltip="More actions">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item
                                            (click)="onBtnViewClick(rowData.id)">
                                        <span>{{'COMMON.VIEW'| translate}}</span>
                                    </button>
                                    <button mat-menu-item
                                            (click)="onBtnEditClick(rowData.id)"
                                            *ngIf="!rowData.epayId || rowData.status === 1">
                                        <span>{{'COMMON.EDIT'| translate}}</span>
                                    </button>
                                    <button mat-menu-item
                                            (click)="onBtnDeleteClick(rowData.id)">
                                        <span>{{'COMMON.DELETE'| translate}}</span>
                                    </button>
                                    <button mat-menu-item
                                            *ngIf="rowData.status !== 1 && rowData.epayId"
                                            title="{{ 'Đồng bộ dữ liệu ePayment -> ePo' | translate }}"
                                            (click)="onBtnSyncdataFromEpayment(rowData)">
                                        <span>{{'Đồng bộ dữ liệu'| translate}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="dataSource.items && dataSource.items.length === 0">
                <view-empty></view-empty>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>

<p-contextMenu #btnContextMenu
               appendTo="body"
               [model]="btnItems"
               (onShow)="onShowContextMenu()"></p-contextMenu>