<crud-dialog [dialogRef]="dialogRef"
             appendTo="body"
             (save)="onBtnSaveClick()"
             (cancel)="onBtnCancelClick()">
    <p-fieldset legend="{{ 'COMMON.FILTER' | translate }}"
                [toggleable]="true"
                [collapsed]="true">
        <form autocomplete="off"
              #form="ngForm">
            <h5 style="font-size: 15px !important;"><i class="fab fa-envira"></i> {{ 'Thông tin PO' | translate }}
            </h5>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label>{{ 'Hình thức PO' | translate }}</label>
                    <ng-select [items]="areaTypes"
                               bindLabel="label"
                               bindValue="value"
                               name="areaType"
                               placeholder="{{ 'PURCHASE_ORDER.FORM_PURCHASE' | translate }}"
                               [(ngModel)]="requestPo.areaType">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label>{{ 'Nhà cung cấp' | translate }}</label>
                    <ng-select-async name="vendorId"
                                     bindLabel="name"
                                     suffixLabel="code"
                                     searchField="generalFilter"
                                     placeholder="{{ 'Nhà cung cấp' | translate }}"
                                     [multiple]="false"
                                     [closeOnSelect]="true"
                                     [service]="supplierService"
                                     (change)="onChangeSupplier($event)"
                                     [(ngModel)]="requestPo.vendorIdDto">
                    </ng-select-async>
                </div>
                <div class="col-md-3 mb-3">
                    <label>{{ 'Từ ngày' | translate }}</label>
                    <input-date name="fromDate"
                                [(ngModel)]="requestPo.fromDate"></input-date>
                </div>
                <div class="col-md-3 mb-3">
                    <label>{{ 'Đến ngày' | translate }}</label>
                    <input-date name="toDate"
                                [(ngModel)]="requestPo.toDate"></input-date>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label>{{ 'Số PO' | translate }}</label>
                    <ng-select-async name="code"
                                     bindLabel="code"
                                     actionGet="selectForShipment"
                                     actionCount="countForShipment"
                                     suffixLabel=""
                                     placeholder="{{'Số PO/Hợp đồng'| translate}}"
                                     [multiple]="false"
                                     [closeOnSelect]="true"
                                     [service]="purchaseOrderService"
                                     (change)="requestPo.code = requestPo.codeDto?.code"
                                     [(ngModel)]="requestPo.codeDto">
                    </ng-select-async>
                </div>
                <div class="col-md-3 mb-3">
                    <label>{{ 'Trạng thái PO' | translate }}</label>
                    <ng-select [items]="poStatus"
                               bindLabel="label"
                               bindValue="value"
                               name="status"
                               placeholder="{{ 'Trạng thái PO' | translate }}"
                               [(ngModel)]="requestPo.status">
                    </ng-select>
                </div>
            </div>

            <h5 style="font-size: 15px !important;"><i class="fab fa-envira"></i>
                {{ 'Thông tin hàng hóa' | translate }}
            </h5>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label>{{ 'Loại hàng' | translate }}</label>
                    <ng-select [items]="itemTypes"
                               bindLabel="label"
                               bindValue="label"
                               name="itemType"
                               placeholder="{{ 'Loại HH/DV' | translate }}"
                               [(ngModel)]="requestPo.itemType">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label>{{ 'Part Number' | translate }}</label>
                    <input type="text"
                           class="form-control"
                           name="partNo"
                           placeholder="{{ 'Part Number' | translate }}"
                           [(ngModel)]="requestPo.partNo">
                </div>
                <div class="col-md-3 mb-3">
                    <label>{{ 'Mã hàng hóa/ dịch vụ' | translate }}</label>
                    <ng-select-async name="itemCode"
                                     categoryType="item"
                                     bindLabel="code"
                                     suffixLabel="name"
                                     placeholder="{{ 'Mã hàng hóa/ dịch vụ' | translate }}"
                                     [multiple]="false"
                                     [closeOnSelect]="true"
                                     [service]="itemService"
                                     (change)="onChangeItemCode($event)"
                                     [(ngModel)]="requestPo.itemCodeDto">
                    </ng-select-async>
                </div>
                <div class="col-md-3 mb-3">
                    <label>{{ 'Tên hàng' | translate }}</label>
                    <input type="text"
                           class="form-control"
                           name="itemName"
                           placeholder="{{ 'Tên hàng' | translate }}"
                           [(ngModel)]="requestPo.itemName">
                </div>
            </div>
            <div class="form-row">
                <button type="submit"
                        class="btn btn-sm btn-label-brand ml-2"
                        (click)="onBtnLoadNodeSearchClick()">{{ 'COMMON.GO' | translate }}</button>
                <button type="reset"
                        (click)="onBtnResetSearchClick()"
                        class="btn btn-sm btn-label-brand ml-2">Reset</button>
            </div>
        </form>
    </p-fieldset>

    <br>

    <div class="row kt-margin-b-15">
        <div class="col-md-6">
            <mat-form-field class="input-general-filter">
                <input matInput
                       #searchInput
                       (keydown.enter)="requestPo.codeDto = {code: requestPo.code}; onBtnLoadNodeSearchClick()"
                       (change)="requestPo.codeDto = {code: requestPo.code}"
                       [(ngModel)]="requestPo.code"
                       placeholder="Search ..."
                       class="mat-form-field mat-form-field-fluid">
                <mat-hint align="start">
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <h5 class="kt-margin-b-15">
        <i class="fab fa-envira"></i> Danh sách PO
    </h5>
    <div class="mat-table__wrapper">
        <p-treeTable class="table-no-wrap"
                     [value]="dataSource.items"
                     [columns]="cols"
                     [paginator]="true"
                     [rows]="10"
                     [lazy]="true"
                     (onLazyLoad)="loadNodes($event)"
                     [totalRecords]="dataSource.paginatorTotal"
                     [loading]="false"
                     (onNodeExpand)="onNodeExpand($event)"
                     selectionMode="checkbox"
                     [(selection)]="selectedPurchaseOrderItems"
                     (onNodeSelect)="nodeSelect($event)"
                     (onNodeUnselect)="nodeUnselect($event)">
            <ng-template pTemplate="header"
                         let-columns>
                <tr>
                    <th *ngFor="let col of columns; let i = index"
                        [width]="col.width">
                        {{col.title | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-rowNode
                         let-rowData="rowData"
                         let-columns="columns">
                <tr *ngIf="rowData.itemName">
                    <td *ngFor="let col of columns; let i = index"
                        [ngClass]="{'align-right': (col.field === 'price' || col.field === 'totalAmount')}">
                        <p-treeTableToggler [rowNode]="rowNode"
                                            *ngIf="i == 0"></p-treeTableToggler>
                        <p-treeTableCheckbox [value]="rowNode"
                                             *ngIf="i == 0"></p-treeTableCheckbox>

                        <span *ngIf="col.field !== 'itemType' && col.field !== 'price' && col.field !== 'totalAmount'"
                              [title]="rowData[col.field]">
                            {{ rowData[col.field] }}
                        </span>

                        <span *ngIf="col.field === 'itemType'"
                              [title]="rowData.itemType">
                            {{ rowData.itemType }} <mat-checkbox *ngIf="rowData.itemType === 'SRV'"
                                          class="example-margin"
                                          [(ngModel)]="rowData.isUpdateSrv"
                                          disabled
                                          [color]="'primary'">
                            </mat-checkbox>
                        </span>

                        <span *ngIf="col.field === 'price'"
                              [title]="rowData.price ? (rowData.price | currencyMask) : ''">
                            {{ rowData.price ? (rowData.price | currencyMask) : '' }}
                        </span>

                        <span *ngIf="col.field === 'totalAmount'"
                              [title]="(rowData.piiQuantityRemain * rowData.price) ? (rowData.piiQuantityRemain * rowData.price | currencyMask) : ''">
                            {{(rowData.piiQuantityRemain * rowData.price) ? (rowData.piiQuantityRemain * rowData.price |
                            currencyMask) :
                            ''}}
                        </span>
                    </td>
                </tr>
                <tr *ngIf="!rowData.itemName">
                    <td colspan="11">
                        <p-treeTableToggler [rowNode]="rowNode"
                                            *ngIf="!((purchaseOrderItemService.isLoading$ | async) && loadingId === rowData.id)">
                        </p-treeTableToggler>
                        <mat-spinner [diameter]="20"
                                     *ngIf="(purchaseOrderItemService.isLoading$ | async) && loadingId === rowData.id"
                                     class="p-treetable-toggler p-link p-ripple">
                        </mat-spinner>
                        <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                        <i class="fas fa-folder folder-explorer"></i>&nbsp;<b>{{ rowData.code }}</b>&nbsp;<span
                              class="total-item">({{rowData.count}}
                            item(s))</span>
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </div>
</crud-dialog>