.wrap-text-grid-brand {
	white-space: normal !important;
	// max-height: 92px !important;
	overflow: hidden !important;
	-webkit-box-orient: vertical !important;
	text-overflow: ellipsis !important;
	display: -webkit-box !important;
	-webkit-line-clamp: 5 !important;
	// height: 100px !important;
}