<kt-portlet>
    <kt-portlet-header [title]="'MAPPING_SPRO.HEADER_LIST' | translate"
                       [class]="'kt-portlet__head--lg'"
                       [viewLoading$]="mappingSproService.isLoading$">
        <ng-container ktPortletTools>
            <button [routerLink]="['add']"
                    mat-raised-button
                    color="primary">{{ 'COMMON.CRUD.ADD' | translate }}</button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20"
                         *ngIf="mappingSproService.isLoading$ | async"></mat-spinner>
            <mat-paginator #paginator
                           [pageSize]="10"
                           [pageSizeOptions]="[10, 30, 50]"
                           [length]="dataSource.paginatorTotal"
                           [showFirstLastButtons]="true"></mat-paginator>
        </div>
        <div class="mat-table__wrapper">

            <p-table [value]="dataSource.items"
                     [columns]="headers"
                     class="table-no-wrap"
                     tableStyleClass="table-no-wrap">

                <ng-template pTemplate="header"
                             let-columns>
                    <tr class="background-table-header">
                        <th *ngFor="let col of columns"
                            [width]="col.width"
                            class="align-center"
                            [ngClass]="col.class">
                            {{col.title | translate}}
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body"
                             let-rowData
                             let-rowIndex="rowIndex"
                             let-editing="editing">
                    <tr [pEditableRow]="rowData">
                        <td class="text-center"
                            [title]="request.pageSize * request.pageIndex + rowIndex + 1">
                            {{ request.pageSize * request.pageIndex + rowIndex + 1 }}
                        </td>
                        <td class="header-link">
                            <a [routerLink]="['edit', rowData.id]">
                                {{ rowData.module }} - {{ (rowData.module | label: modules) | translate }}
                            </a>
                        </td>
                        <td class="text-center">{{ rowData.processId }}</td>
                        <td>{{ rowData.processName }}</td>
                    </tr>
                </ng-template>

            </p-table>
            <div *ngIf="dataSource.items && dataSource.items.length === 0">
                <view-empty></view-empty>
            </div>

        </div>
    </kt-portlet-body>
</kt-portlet>