<form #formContact="ngForm"
      id="marketing-fund">
    <div class="row">
        <div class="col-md-12"
             style="position: relative; padding: 15px;">
            <h5 class="kt-margin-b-15">
                <i class="fab fa-envira"></i> {{'Marketing Fund'| translate}}
            </h5>

            <div style="position: absolute; right: 15px; top: 5px;">
                <button class="btn btn-sm btn-label-brand mr-2"
                        *ngIf="editTable"
                        title="{{ 'COMMON.CRUD.ADD'| translate }}"
                        (click)="onBtnAddParentClick()">
                    <i class="far fa-plus"></i>{{ 'COMMON.CRUD.ADD'| translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <p-treeTable #treeTable
                     class="table-no-wrap"
                     [value]="dataSource.items"
                     [columns]="headers"
                     dataKey="id"
                     [(contextMenuSelection)]="selectedNode"
                     [contextMenu]="btnContextMenu"
                     [scrollable]="true"
                     scrollHeight="1500px">
            <ng-template pTemplate="header"
                         let-columns>
                <tr>
                    <th *ngFor="let col of columns"
                        class="table-no-wrap align-center header-height"
                        [rowSpan]="col.rowSpan ? col.rowSpan : 1"
                        [colSpan]="col.colSpan ? col.colSpan : 1"
                        [width]="col.width"
                        [ngClass]="col.class">
                        {{ col.title | translate }}
                        <span class="lbl-required"
                              *ngIf="col.isRequired">
                        </span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-rowNode
                         let-rowData="rowData"
                         let-columns="columns"
                         let-rowIndex="rowIndex">
                <tr *ngIf="!rowData.brandMarketingFundId && !rowData.isHeaderRow && !rowData.isPagingRow"
                    [ttContextMenuRow]="rowNode"
                    (click)="clickTrTable(rowData)">
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        <i class="fas fa-folder folder-explorer"></i>
                        {{ rowData.indexNo }}
                        <div class="align-center total-item">({{ rowData.count }} Item)</div>
                    </td>
                    <td colSpan="4"
                        class="align-right"
                        [title]="convertCurrencyMask(rowData.fundTotal)">
                        <input pInputText
                               type="text"
                               *ngIf="editTable && rowData.isShowEditRow"
                               class="form-control align-right"
                               name="{{rowIndex + 1 + 'fundTotal'}}"
                               numberMask
                               validateTooltip
                               [validateForm]="form"
                               placeholder="{{ 'Nhập fund đã cấp' | translate }}"
                               [(ngModel)]="rowData.fundTotal"
                               (change)="onRowEditInit(rowData)">

                        <span *ngIf="!editTable || !rowData.isShowEditRow">
                            {{ convertCurrencyMask(rowData.fundTotal) }}
                        </span>
                    </td>
                    <td colSpan="3"
                        [title]="(rowData.fundDeadline | date: mainConfig.formatDateList)">
                        <input-date name="{{rowIndex + 1 + 'fundDeadline'}}"
                                    *ngIf="editTable && rowData.isShowEditRow"
                                    [(ngModel)]="rowData.fundDeadline"
                                    (change)="onRowEditInit(rowData)">
                        </input-date>

                        <span *ngIf="!editTable || !rowData.isShowEditRow">
                            {{(rowData.fundDeadline | date: mainConfig.formatDateList)}}
                        </span>
                    </td>
                    <td colSpan="3"
                        [title]="rowData.claimDeadline | date: mainConfig.formatDateList">
                        <input-date name="{{rowIndex + 1 + 'claimDeadline'}}"
                                    *ngIf="editTable && rowData.isShowEditRow"
                                    [(ngModel)]="rowData.claimDeadline"
                                    (change)="onRowEditInit(rowData)">
                        </input-date>

                        <span *ngIf="!editTable || !rowData.isShowEditRow">
                            {{ rowData.claimDeadline | date: mainConfig.formatDateList }}
                        </span>
                    </td>

                    <td class="action align-center"
                        *ngIf="editTable">
                        <button class="button-icon"
                                (click)="onBtnAddChildrenClick(rowData, rowNode)">
                            <i class="far fa-plus"
                               style="cursor: pointer;"
                               [title]="'COMMON.ADD_TO' | translate"></i>
                        </button>
                        <button class="button-icon"
                                (click)="onBtnDeleteClick(rowData, 1)">
                            <i class="fas fa-trash-alt"
                               style="cursor: pointer;"
                               [title]="'COMMON.DELETE' | translate"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="rowData.isHeaderRow"
                    style="background: #f8f9fa;">
                    <th *ngFor="let col of headerInfo"
                        [width]="col.width"
                        style="border: 1px solid #e9ecef;"
                        class="align-center"
                        [ngClass]="col.class">
                        {{col.title | translate}}
                    </th>
                </tr>
                <tr *ngIf="rowData.brandMarketingFundId && !rowData.isHeaderRow && !rowData.isPagingRow"
                    (click)="clickTrTable(rowData)">
                    <td [title]="rowData.indexNo">
                        <div class="wrap-text-grid-item"
                             style="text-align: center;">
                            {{ rowData.indexNo }}
                        </div>
                    </td>
                    <td [title]="rowData.fisx">
                        <div class="wrap-text-grid-item">

                            <config-list-control name="{{rowIndex + 1 + 'fisx'}}"
                                                 type="BRAND_FUND_FISX"
                                                 header="FisX"
                                                 *ngIf="editTable && rowData.isShowEditRow"
                                                 [items]="configListDataFisX"
                                                 [hasEdit]="true"
                                                 (change)="onRowEditInit(rowData)"
                                                 [(ngModel)]="rowData.fisx">
                            </config-list-control>

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.fisx}}
                            </span>
                        </div>
                    </td>
                    <td [title]="rowData.activity">
                        <div class="wrap-text-grid-item">
                            <input pInputText
                                   type="text"
                                   *ngIf="editTable && rowData.isShowEditRow"
                                   class="form-control"
                                   name="{{rowIndex + 1 + 'activity'}}"
                                   placeholder="{{ 'Hoạt động' | translate }}"
                                   [(ngModel)]="rowData.activity"
                                   (change)="onRowEditInit(rowData)">

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.activity}}
                            </span>
                        </div>
                    </td>
                    <td [title]="rowData.guests">
                        <div class="wrap-text-grid-item">
                            <input pInputText
                                   type="text"
                                   *ngIf="editTable && rowData.isShowEditRow"
                                   class="form-control"
                                   name="{{rowIndex + 1 + 'guests'}}"
                                   placeholder="{{ 'Khách mời' | translate }}"
                                   [(ngModel)]="rowData.guests"
                                   (change)="onRowEditInit(rowData)">

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.guests}}
                            </span>
                        </div>
                    </td>
                    <td [title]="rowData.fundsRegistered">
                        <div class="wrap-text-grid-item">
                            <input pInputText
                                   type="text"
                                   *ngIf="editTable && rowData.isShowEditRow"
                                   class="form-control align-right"
                                   name="{{rowIndex + 1 + 'fundsRegistered'}}"
                                   numberMask
                                   validateTooltip
                                   [validateForm]="form"
                                   placeholder="{{ 'Nhập fund đã sử dụng' | translate }}"
                                   [(ngModel)]="rowData.fundsRegistered"
                                   (change)="onRowEditInit(rowData)">
                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.fundsRegistered}}
                            </span>
                        </div>
                    </td>
                    <td [title]="rowData.organizationDate | date:mainConfig.formatDateList">
                        <div class="wrap-text-grid-item">
                            <input-date name="{{rowIndex + 1 + 'organizationDate'}}"
                                        *ngIf="editTable && rowData.isShowEditRow"
                                        [(ngModel)]="rowData.organizationDate"
                                        (change)="onRowEditInit(rowData)">
                            </input-date>

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.organizationDate | date:mainConfig.formatDateList}}
                            </span>
                        </div>
                    </td>

                    <td [title]="rowData.mbfTopic">
                        <div class="wrap-text-grid-item">
                            <input pInputText
                                   type="text"
                                   *ngIf="editTable && rowData.isShowEditRow"
                                   class="form-control"
                                   name="{{rowIndex + 1 + 'mbfTopic'}}"
                                   placeholder="{{ 'Nhập chủ đề' | translate }}"
                                   [(ngModel)]="rowData.mbfTopic"
                                   (change)="onRowEditInit(rowData)">


                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.mbfTopic}}
                            </span>
                        </div>
                    </td>

                    <td [title]="rowData.status">
                        <div class="wrap-text-grid-item">
                            <config-list-control name="{{rowIndex + 1 + 'status'}}"
                                                 type="BRAND_FUND_STATUS"
                                                 header="Hình thức"
                                                 *ngIf="editTable && rowData.isShowEditRow"
                                                 [items]="configListDataStatus"
                                                 [hasEdit]="true"
                                                 (change)="onRowEditInit(rowData)"
                                                 [(ngModel)]="rowData.status">
                            </config-list-control>

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.status}}
                            </span>
                        </div>
                    </td>
                    <td [title]="rowData.forwardDay | date:mainConfig.formatDateList">
                        <div class="wrap-text-grid-item">
                            <input-date name="{{rowIndex + 1 + 'forwardDay'}}"
                                        *ngIf="editTable && rowData.isShowEditRow"
                                        [(ngModel)]="rowData.forwardDay"
                                        (change)="onRowEditInit(rowData)">
                            </input-date>

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.forwardDay | date:mainConfig.formatDateList}}
                            </span>
                        </div>
                    </td>
                    <td [title]="rowData.subjectMail">
                        <div class="wrap-text-grid-item">
                            <input pInputText
                                   type="text"
                                   *ngIf="editTable && rowData.isShowEditRow"
                                   class="form-control"
                                   name="{{rowIndex + 1 + 'subjectMail'}}"
                                   placeholder="{{ 'Nhập subject mail' | translate }}"
                                   [(ngModel)]="rowData.subjectMail"
                                   (change)="onRowEditInit(rowData)">

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.subjectMail}}
                            </span>
                        </div>
                    </td>
                    <td [title]="rowData.note">
                        <div class="wrap-text-grid-item">
                            <input pInputText
                                   type="text"
                                   *ngIf="editTable && rowData.isShowEditRow"
                                   class="form-control"
                                   name="{{rowIndex + 1 + 'note'}}"
                                   placeholder="{{ 'Nhập ghi chú' | translate }}"
                                   [(ngModel)]="rowData.note"
                                   (change)="onRowEditInit(rowData)">

                            <span *ngIf="!editTable || !rowData.isShowEditRow">
                                {{rowData.note}}
                            </span>
                        </div>
                    </td>

                    <td class="action align-center"
                        *ngIf="editTable">
                        <button class="button-icon"
                                (click)="onBtnDeleteClick(rowData, 2)">
                            <i class="fas fa-trash-alt"
                               style="cursor: pointer;"
                               [title]="'COMMON.DELETE' | translate"></i>
                        </button>
                    </td>
                </tr>

                <tr *ngIf="rowData.isPagingRow">
                    <td colspan="7"
                        style="padding: 0; border-right: none;">
                        <mat-spinner [diameter]="20"
                                     *ngIf="brandMarketingFundService.isLoading$ | async"></mat-spinner>
                        <mat-paginator [pageSize]="10"
                                       [pageSizeOptions]="[10]"
                                       [length]="rowNode.node.parent.data.count"
                                       [pageIndex]="rowData.pageIndex"
                                       [showFirstLastButtons]="true"
                                       (page)="onItemPagingChange($event, rowNode, rowData)">
                        </mat-paginator>
                    </td>
                    <td colspan="5"
                        style="padding: 0; border-left: none;"></td>
                </tr>
            </ng-template>
        </p-treeTable>

    </div>
</form>
<p-contextMenu #btnContextMenu
               appendTo="body"
               [model]="btnItems"
               (onShow)="onShowContextMenu()"></p-contextMenu>