.title-search {
	cursor: pointer;
	width: fit-content;
	color: #0c4da2;
	font-size: 16px;
}

.title-search-sub {
	cursor: pointer;
	width: fit-content;
	color: #0c4da2;
	margin-left: 15px;
	font-size: 14px;
}


// select { text-align-last: right; }
// option { direction: rtl; }