<p-dialog [(visible)]="dialogRef.isDisplay"
          [modal]="true"
          [responsive]="true"
          [style]="{width: '60%', minWidth: '50%'}"
          [minY]="70"
          [maximizable]="true"
          [baseZIndex]="9000"
          [focusOnShow]="false"
          appendTo="body"
          (onHide)="close()">
    <p-header>
        <i class="fal fa-info-circle"></i> {{ 'Thông tin hãng sản xuất' | translate }}
    </p-header>


    <div class="row">
        <div class="col-md-12"
             style="position: relative; padding: 15px;">

            <div style="position: absolute; right: 15px; top: 5px;">
                <button class="btn btn-sm btn-simple"
                        title="{{ 'COMMON.CRUD.ADD' | translate }}"
                        (click)="onBtnAddClick()"><i class="fal fa-plus"></i>
                    {{ 'COMMON.CRUD.ADD' | translate }}
                </button>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="row kt-margin-b-15">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="mat-table__bottom">
                        <mat-spinner [diameter]="20"
                                     *ngIf="brandService.isLoading$ | async"></mat-spinner>
                        <mat-paginator #paginator
                                       [pageSize]="10"
                                       [length]="dataSource.paginatorTotal"
                                       [showFirstLastButtons]="true"></mat-paginator>
                    </div>
                </div>
            </div>
            <div class="mat-table__wrapper">
                <p-table [value]="dataSource.items"
                         tableStyleClass="table-no-wrap">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let header of headers"
                                [width]="header.width"
                                [ngClass]="header.class"
                                class="align-center header-height">{{ header.title | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body"
                                 let-rowData
                                 let-rowIndex="rowIndex">
                        <tr>
                            <td class="align-center"
                                [title]="request.pageSize * request.pageIndex + rowIndex + 1">
                                {{ request.pageSize * request.pageIndex + rowIndex + 1 }}
                            </td>
                            <td [title]="rowData.code">
                                {{ rowData.code }}
                            </td>

                            <td class="wrap-text-grid-brand header-link"
                                title="{{ rowData.name }}">
                                <a (click)="onBtnViewClick(rowData)">
                                    {{ rowData.name }}</a>
                            </td>

                            <td class="align-right"
                                title="{{ convertCurrencyMask(rowData.revenueTotal) }}">
                                {{ convertCurrencyMask(rowData.revenueTotal) }}
                            </td>

                            <td [title]="rowData.brandYear">
                                {{ rowData.brandYear }}
                            </td>
                            <td class="action align-center">
                                <button [title]="'COMMON.VIEW'| translate"
                                        mat-icon-button
                                        matTooltip="More actions"
                                        (click)="onBtnViewClick(rowData)">
                                    <span class="material-icons"> remove_red_eye </span>
                                </button>

                                <button [title]="'COMMON.EDIT'| translate"
                                        mat-icon-button
                                        matTooltip="More actions"
                                        (click)="onBtnEditClick(rowData.id)">
                                    <span class="material-icons"> edit </span>
                                </button>

                                <button [title]="'COMMON.DELETE'| translate"
                                        mat-icon-button
                                        matTooltip="More actions"
                                        (click)="onBtnDeleteClick(rowData.id)">
                                    <span class="material-icons"> delete</span>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="dataSource.items && dataSource.items.length === 0">
                    <view-empty></view-empty>
                </div>
            </div>
        </div>
    </div>

    <div class="mat-table__bottom"
         style="text-align:left; margin-top: 15px;">
        <button class="btn btn-secondary"
                title="{{ 'COMMON.CLOSE' | translate }}"
                (click)="close()">{{
            'COMMON.CLOSE' | translate }}
        </button>
    </div>
    <p-footer> </p-footer>
</p-dialog>
