<crud-dialog [dialogRef]="dialogRef"
			 [form]="form"
			 (save)="onBtnSaveClick()"
			 (cancel)="onBtnCancelClick()">
	<form autocomplete="off"
		  #form="ngForm"
		  id="role-edit">
		<div class="form-row">
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.ITEM_CODE' | translate }}</label>
				<select-sync-source name="itemCode"
									categoryType="item"
									placeholder="PURCHASE_REQUEST.ITEM.ITEM_CODE"
									header="MENU.CATEGORY.ITEM"
									bindValue="code"
									[columns]="headerItems"
									[width]="'70vw'"
									[service]="itemService"
									[requestPayload]="itemRequestPayload"
									(change)="onChangeItemCode($event)"
									[(ngModel)]="dialogRef.input.rowData.itemCodeDto"
									[disabled]="!canEditOtherInformation">
				</select-sync-source>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.PART_NO' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="partNo"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.PART_NO' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.partNo"
					   [disabled]="!canEditOtherInformation">
				<validate-message [form]="form"
								  controlName="partNo"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.NAME' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="itemName"
					   maxlength="500"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.NAME' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.itemName"
					   [disabled]="!canEditOtherInformation"
					   required>
				<validate-message [form]="form"
								  controlName="itemName"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.TYPE' | translate }}</label>
				<select class="form-control"
						name="itemType"
						[(ngModel)]="dialogRef.input.rowData.itemType"
						[disabled]="!canEditOtherInformation"
						required>
					<option [ngValue]="undefined"
							selected>{{ 'COMMON.ALL' | translate }}</option>
					<option *ngFor="let item of itemTypes"
							[value]="item.label">{{item.label | translate }}</option>
				</select>
				<validate-message [form]="form"
								  controlName="itemType"></validate-message>
			</div>

			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.QUANTITY' | translate }}</label>
				<input type="number"
					   min="0"
					   class="form-control"
					   name="quantity"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.QUANTITY' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.quantity"
					   disabled>
				<validate-message [form]="form"
								  controlName="quantity"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.UOM' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="unit"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.UOM' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.unit"
					   [disabled]="!canEditOtherInformation || dialogRef.input.rowData.itemId"
					   required>
				<validate-message [form]="form"
								  controlName="unit"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label class="lbl-required">{{ 'PURCHASE_REQUEST.ITEM.CURRENCY' | translate }}</label>
				<ng-select-async name="currency"
								 bindLabel="code"
								 placeholder="{{ 'PURCHASE_REQUEST.ITEM.CURRENCY' | translate }}"
								 [multiple]="false"
								 [closeOnSelect]="true"
								 [service]="currencyService"
								 (change)="dialogRef.input.rowData.currency = dialogRef.input.rowData.currencyDto?.code"
								 [(ngModel)]="dialogRef.input.rowData.currencyDto"
								 [disabled]="!canEditOtherInformation || (dialogRef.input.rowData.currencyOrigin !== null && dialogRef.input.rowData.currencyOrigin !== undefined)"
								 required>
				</ng-select-async>
				<validate-message [form]="form"
								  controlName="currency"></validate-message>
			</div>
			<div *ngIf="allowViewPrice"
				 class="col-md-3 mb-3">
				<label class="lbl-required">{{ 'PURCHASE_REQUEST.ITEM.EXPECTED_PRICE' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="expectedPrice"
					   numberMask
					   validateTooltip
					   [validateForm]="form"
					   (ngModelChange)="onChangeExpectedPrice($event)"
					   [(ngModel)]="dialogRef.input.rowData.expectedPrice"
					   placeholder="{{ 'PURCHASE_PLAN.ITEM.EXPECTED_PRICE' | translate }}"
					   required>
			</div>
			<div class="col-md-3 mb-3">
				<label class="lbl-required">{{ 'PURCHASE_REQUEST.ITEM.EXPECTED_DATE' | translate }}</label>
				<input-date name="expectedDate"
							validateTooltip
							[validateForm]="form"
							dateMoreThanCurrentDateValidator
							[(ngModel)]="dialogRef.input.rowData.expectedDate"
							[disabled]="!canEditOtherInformation || (dialogRef.input.rowData.expectedDateOrigin !== null && dialogRef.input.rowData.expectedDateOrigin !== undefined)"
							required>
				</input-date>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.SUPPLIER_NAME' | translate }}</label>
				<select-sync-source name="supplierName"
									placeholder="Nhà cung cấp"
									header="MENU.CATEGORY.SUPPLIER"
									bindValue="name"
									suffixLabel="code"
									searchField="generalFilter"
									[columns]="headerSuppliers"
									[width]="'70vw'"
									[service]="supplierService"
									[requestPayload]="supplierRequestPayload"
									(change)="dialogRef.input.rowData.vendorId = dialogRef.input.rowData.supplierNameDto?.vendorId"
									[(ngModel)]="dialogRef.input.rowData.supplierNameDto"
									[disabled]="!canEditOtherInformation">
				</select-sync-source>
				<validate-message [form]="form"
								  controlName="supplierName"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.PRODUCER_NAME' | translate }}</label>
				<ng-select-async name="producerName"
								 bindLabel="name"
								 suffixLabel="acronymName"
								 placeholder="{{ 'PURCHASE_REQUEST.ITEM.PRODUCER_NAME' | translate }}"
								 [multiple]="false"
								 [closeOnSelect]="true"
								 [service]="brandService"
								 (change)="onChangeProductName($event)"
								 [(ngModel)]="dialogRef.input.rowData.producerNameDto"
								 [disabled]="!canEditOtherInformation">
				</ng-select-async>
				<validate-message [form]="form"
								  controlName="producerName"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label class="lbl-required">{{ 'PURCHASE_REQUEST.ITEM.GUARANTEE' | translate }}</label>
				<input type="number"
					   class="form-control"
					   name="guarantee"
					   min="0"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.GUARANTEE' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.guarantee"
					   [disabled]="!canEditOtherInformation || ((dialogRef.input.rowData.guaranteeOrigin !== null && dialogRef.input.rowData.guaranteeOrigin !== undefined))">
				<validate-message [form]="form"
								  controlName="guarantee"></validate-message>
			</div>

			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.DELIVERY_LOCATION' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="deliveryLocation"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.DELIVERY_LOCATION' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.deliveryLocation"
					   [disabled]="!canEditOtherInformation">
				<validate-message [form]="form"
								  controlName="deliveryLocation"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.NOTE' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="note"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.NOTE' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.note"
					   [disabled]="!canEditOtherInformation">
				<validate-message [form]="form"
								  controlName="note"></validate-message>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.EXCHANGE_RATE' | translate }}</label>
				<exchange-rate name="exchangeRateType"
							   bindValue="conversionRate"
							   [(ngModel)]="dialogRef.input.rowData.conversionRate"
							   [exchangeRateData]="dialogRef.input.rowData.exchangeRateData"
							   (change)="onChangeExchangeRate($event, dialogRef.input.rowData)"
							   [disabled]="!canEditOtherInformation">
				</exchange-rate>
			</div>
			<div *ngIf="allowViewPrice"
				 class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.PRICE_BP' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="priceBp"
					   numberMask
					   (ngModelChange)="onChangePriceBP($event)"
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.PRICE_BP' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.priceBp"
					   [disabled]="!canEditOtherInformation">
			</div>
			<div *ngIf="allowViewPrice"
				 class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.AMOUNT_BP' | translate }}</label>
				<input type="text"
					   class="form-control"
					   name="amount"
					   numberMask
					   placeholder="{{ 'PURCHASE_REQUEST.ITEM.AMOUNT_BP' | translate }}"
					   [(ngModel)]="dialogRef.input.rowData.amount"
					   disabled>
			</div>
			<div class="col-md-3 mb-3">
				<label>{{ 'PURCHASE_REQUEST.ITEM.EXPECTED_RETURN_DATE' | translate }}</label>
				<input-date name="responseDate"
							validateTooltip
							[validateForm]="form"
							[(ngModel)]="dialogRef.input.rowData.responseDate"
							[disabled]="!canEditOtherInformation">
				</input-date>
			</div>
			<div class="col-md-3 mb-3"
				 *ngIf="dialogRef.input.rowData.itemType === 'SRV'"
				 style="text-align: center;">
				<label></label>
				<mat-checkbox name="isUpdateSrv"
							  class="example-margin"
							  [ngModel]="dialogRef.input.rowData.isUpdateSrv"
							  (change)="ongChangeIsUpdateSrv($event)"
							  (ngModelChange)="dialogRef.input.rowData.isUpdateSrv = $event ? 1 : 0"
							  [checked]="dialogRef.input.rowData.isUpdateSrv == 1"
							  [color]="'primary'"> {{ 'Update SRV' | translate }}
				</mat-checkbox>
			</div>
		</div>
	</form>
</crud-dialog>