.wrap-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100% !important;
}

.btn-tool-attach {
	font-size: 16px;
}

.btn-tool-attach:hover {
	color: black;
	cursor: pointer;
}

::ng-deep {
	.td-no-padding {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
}

span.link {
	color: #0c4da2;
}

span.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

td.view-more {
	padding: 9px 9px 9px 40px !important;
	background: inherit !important;
	border: none !important;
}
