<kt-portlet>
    <kt-portlet-header [title]="'COMMON.OPERATION' | translate"
                       [class]="'kt-portlet__head--lg'"
                       [viewLoading$]="operationService.isLoading$">
        <ng-container ktPortletTools>
            <button class="btn btn-primary"
                    color="primary"
                    (click)="onBtnEditClick()"
                    matTooltip="Create new User">{{ 'COMMON.CRUD.ADD' | translate }}</button>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="input-general-filter">
                    <input matInput
                           #searchInput
                           (keydown.enter)="initData()"
                           [(ngModel)]="request.name"
                           placeholder="Search ..."
                           class="mat-form-field mat-form-field-fluid">
                    <mat-hint align="start">
                        <strong>Search in all fields</strong>
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-paginator [pageSize]="10"
                               [hidePageSize]="true"
                               [length]="dataSource.paginatorTotal"
                               [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
        <div class="mat-table__wrapper">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let header of headers"
                            [width]="header.width">{{ header.title | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rowData of dataSource.items; index as i;">
                        <td>{{ i + 1 }}</td>
                        <td class="header-link"
                            (click)="onBtnEditClick(rowData)">{{ rowData.name | translate }}</td>
                        <td>{{ rowData.code }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </kt-portlet-body>
</kt-portlet>

<app-operation-edit #dlgEdit
               [dialogRef]="dialogRef"
               (success)="onSuccess($event)"></app-operation-edit>