<div class="border-p-tree">
        <p-tree *ngIf="!choose"
                #tree
                [value]="orgChartService.treeData"
                [(selection)]="selectedOrgs"
                selectionMode="checkbox"
                styleClass="p-treenode-non-highlighted"
                (onNodeSelect)="onSelectionChange($event)"
                (onNodeUnselect)="onSelectionChange($event)"
                key="id">
        </p-tree>
</div>
<div *ngIf="choose">
        <div class="input-group">
                <input type="search"
                       class="form-control"
                       placeholder="{{ placeholder | translate }}"
                       [(ngModel)]="value"
                       [title]="value"
                       placement="bottom-right"
                       ngbTooltip="{{ value }}"
                       (ngModelChange)="onModelChangeInput($event)"
                       (keydown)="$event.preventDefault()"
                       (paste)="$event.preventDefault()"
                       [disabled]="disabled"
                       [required]="required">
                <div class="input-group-append">
                        <button class="input-group-text input-group-right attach-button"
                                (click)="onBtnShowDialogListClick()"
                                tabindex="-1"
                                [disabled]="disabled"><i class="fal fa-ellipsis-v"></i></button>
                </div>
        </div>

        <p-dialog [(visible)]="dialogRef.isDisplay"
                  [modal]="true"
                  [style]="{width: '50%', minWidth: '50%'}"
                  [maximizable]="true"
                  [draggable]="true"
                  [baseZIndex]="9000"
                  appendTo="body"
                  [autoZIndex]="true"
                  (onHide)="close()">
                <p-header>
                        <i class="fal fa-info-circle"></i> {{ 'Group tree' | translate }}
                </p-header>

                <div class="row">
                        <div class="col-md-12">
                                <div class="border-p-tree">
                                        <p-tree #tree
                                                [value]="orgChartService.treeData"
                                                [(selection)]="selectedOrgs"
                                                selectionMode="checkbox"
                                                styleClass="p-treenode-non-highlighted"
                                                (onNodeSelect)="onSelectionChange($event)"
                                                (onNodeUnselect)="onSelectionChange($event)"
                                                key="id">
                                        </p-tree>
                                </div>
                        </div>
                </div>

                <ng-template pTemplate="footer">
                        <div class="mt-3">
                                <button class="btn btn-primary ml-3"
                                        title="{{ 'COMMON.CHOOSE' | translate }}"
                                        (click)="onBtnChooseClick()">
                                        {{ 'COMMON.CHOOSE' | translate }}
                                </button>
                                <button class="btn btn-secondary ml-3"
                                        title="{{ 'COMMON.CANCEL' | translate }}"
                                        (click)="close()">
                                        {{ 'COMMON.CANCEL' | translate }}
                                </button>
                        </div>
                </ng-template>
        </p-dialog>
</div>