@import "sass/pages/wizard/wizard-1";
::ng-deep {
    .process {
        color: orange !important;
    }
    .pending {
        color: red !important;
    }
    .cancel {
        color: red;
        font-weight: bold;
        font-family: oppins, Helvetica, sans-serif;
    }
    .kt-wizard-v1__nav {
        border-bottom: none !important;
        overflow: auto !important;
        .kt-wizard-v1__nav-items {
            width: 100% !important;
            min-width: 200px !important;
            .ng-star-inserted {
                padding: 1px 0 !important;
            }
            .kt-wizard-v1__nav-body {
                padding: 10px 1rem !important;
                background-color: #f8f8fb !important;
                border-radius: 5px !important;
                .kt-wizard-v1__nav-icon {
                    font-size: 20px !important;
                }
                .kt-wizard-v1__nav-label {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    max-width: 140px !important;
                    font-size: 13px !important;
                }
            }
        }
    }
    .content-action {
        min-height: 180px !important;
    }
    .input-switch {
        margin-top: 8px;
    }
    .p-paginator-bottom {
        border-width: inherit !important;
    }
    .btn-add {
        height: 153px;
    }
    .title {
        color: #646c9a !important;
    }
    .fa-btn {
        cursor: pointer !important;
    }

    .full-width {
        width: 100% !important;
    }

    .splitter-item {
        overflow: hidden;
        text-align: left;
        font-weight: bold;
        color: #003399;
        font-size: 18px;
        padding-left: 6px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
